@using prj.Controllers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Assets/js/jquery/jquery.min.js"></script>
    <script src="~/Assets/js/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/Assets/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/styleHeader.css" rel="stylesheet" />
    <link href="~/Assets/css/shop-homepage.css" rel="stylesheet" />
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">My Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Services","Home")">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a>
                    </li>
                    <li class="nav-item">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                        {
                            <span class="inform">
                                @Html.TextBox("searchStr")
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </span>
                        }
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Cart")" class="glyphicon glyphicon-shopping-cart">
                         
                            
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @{
                                if (UserController.user != null && !String.IsNullOrEmpty(Session["User"].ToString()))
                                {
                                    <a class="dropdown-item" href="#">My Account</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>

                                    if (UserController.user.status == 1)
                                    {
                                        <a class="dropdown-item" href="#">Admin</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Logout</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="@Url.Action("Login","User")">Login</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Register</a>

                                }
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
